MONGO_INITDB_ROOT_USERNAME=your_username
MONGO_INITDB_ROOT_PASSWORD=your_password
ME_CONFIG_MONGODB_URL=mongodb://your_username:your_password@mongo:27017/?authSource=admin
MONGO_URL=mongodb://your_username:your_password@mongo:27017/docker-db?authSource=admin
